<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jraf.android.fbshare"
    android:versionName="${versionName}"
    tools:ignore="MissingVersion" >

    <!-- android:sharedUserId="org.jraf.android" -->

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme" >
        <service android:name="org.jraf.android.fbshare.app.service.PostService" />

        <activity
            android:name="org.jraf.android.fbshare.app.main.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.jraf.android.fbshare.app.about.AboutActivity"
            android:label="@string/menu_about" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_appId" />
    </application>

</manifest>